<main>
    <aside class="side-menu">
        <section>
            
        </section>
    </aside>
    <section>
        <div>
                <a href="/dashboard/events/create">Add new Event</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Capacity</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr data-event=""></tr>
            </tbody>
        </table>
    </section>
</main>