<form id="singUpForm">
    <h1>Register</h1>
  <label for="singUpName">
    Full name
  </label>
  <input type="text" id="singUpName" name="name" required>

  <label for="singUpEmail">
    Email
  </label>
  <input type="email" id="singUpEmail" name="email" required>

  <label for="singUpPassword">
    Password
  </label>
  <input type="password" id="singUpPassword" name="password" required>

  <label for="singUpConfirmPassword">
    Password
  </label>
  <input type="password" id="singUpConfirmPassword" name="confirmPassword" required>

  <button type="submit">
    singUp
  </button>
</form>